<script lang="ts">
  import { SvelteToast } from "@zerodevx/svelte-toast";
  import "../app.css";

  const options = {
    theme: {
      '--toastColor': 'dark',
      '--toastBackground': 'rgb(226,226,226)',
      '--toastBarHeight': 0
    },
    duration: 3000,
    classes: ['p-5', 'rounded'],
  }
</script>

<div class="wrap">
  <SvelteToast {options} />
</div>

<div class="container max-w-full max-h-full h-screen">
  <nav class="bg-green-700 text-white p-3 flex flex-row items-center justify-start">
    <div class="font-bold inline-block basis-1/8 me-5">
      <a href="/" title="Back to home page">TINYPANEL</a>
    </div>
    <div class="inline-block">
      <a href="/" class="text-sm hover:text-amber-200" title="Back to home page">HOME</a>

      <span class="ms-1 me-1 text-sm">|</span>

      <a href="/settings" class="text-sm hover:text-amber-200" title="Настройки">
        SETTINGS
      </a>
    </div>
  </nav>

  <div class="p-4">
    <slot />
  </div>

  <footer class="sticky top-[100vh] text-start bg-gray-200 p-3 text-sm text-gray-500">
    <a href="https://github.com/lebe-dev" target="_blank">GITHUB</a> <span class="ms-1 me-1">|</span> TINYPANEL v1.0.0 #6
  </footer>
</div>

<style lang="postcss">
    .wrap :global(.toastItem) {
        --toastPadding: 1rem;
        border-radius: 10px;
        @apply text-xs font-bold;
    }
</style>