<script lang="ts">
  import type { PageData } from "./$types";
  import { getDateInHumanFormat } from "$lib/date";
  import OpenVpnServiceStatusIndicator from "../components/OpenVpnServiceStatusIndicator.svelte";
  import { onMount } from "svelte";
  import { getPrettySize } from "$lib/size";
  import { showError } from "$lib/notifications";

  export let data: PageData;

  onMount(async () => {
    const response = await fetch('/api/config', {
      method: 'GET'
    });

    if (response.status === 200) {
      data.config = await response.json();
      console.log('config:', data.config);

    } else {
      showError('Unable to load config');
    }
  });
</script>

<svelte:head>
  <title>TinyPanel</title>
</svelte:head>

<div class="mb-5">
  <OpenVpnServiceStatusIndicator status={data.config.openvpnServiceStatus}/>
</div>

<h2 class="text-lg mb-1">Active connections:</h2>

<div class="text-md text-gray-500 mb-5">Connections status updates with delay, it depends on configuration of OpenVPN server.</div>

<div class="overflow-x-auto lg:w-1/2">
  <table class="table table-zebra text-md">
    <thead class="bg-gray-200">
    <tr>
      <th>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline-block me-0.5 mb-1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
        </svg>

        USER
      </th>
      <th>IP</th>
      <th class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline-block me-0.5 mb-1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
        </svg>

        SENT / RECEIVED
      </th>
      <th class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline-block me-0.5 mb-1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
        </svg>

        <span class="inline-block">CONNECTED SINCE</span>
      </th>
    </tr>
    </thead>
    <tbody>
    {#each data.config.activeClients as client}
      <tr>
        <td class="text-md">{client.name}</td>
        <td>
          <div>{client.virtualAddress}</div>
          <div>{client.realAddress}</div>
        </td>
        <td class="text-center">
          {getPrettySize(client.bytesSent)} / {getPrettySize(client.bytesReceived)}
        </td>
        <td class="text-center">{getDateInHumanFormat(client.connectedSince)}</td>
      </tr>
    {/each}
    </tbody>
  </table>
</div>