<script lang="ts">
  import { OpenVpnServiceStatus } from "$lib";

  export let status: OpenVpnServiceStatus;
</script>

<div>
  <span class="text-md me-1 mt-1">Service status:</span>

  <div class="inline-block cursor-pointer" title="Go to service management">
    <a href="/settings/service">
      {#if status === OpenVpnServiceStatus.Running}
        <span class="text-green-700">running</span>

      {:else}
        <span class="text-red-700">stopped</span>
      {/if}
    </a>
  </div>
</div>