<svelte:head>
  <title>Settings - TinyPanel</title>
</svelte:head>

<h1 class="text-xl mb-3">Settings</h1>

<ul>
  <li class="mb-2">- <a href="/settings/service" class="underline" title="Manage OpenVPN service">Service</a></li>
  <li class="mb-2">- <a href="/settings/users" class="underline" title="Manage users">Users</a></li>
  <li class="mb-2">- <a href="/settings/template" class="underline"
                        title="View OVPN-file template">OVPN template</a></li>
</ul>

<slot/>