<script lang="ts">
  import type { PageData } from "./$types";
  import { onMount } from "svelte";
  import { showError } from "$lib/notifications";

  export let data: PageData;

  onMount(async () => {
    const response = await fetch('/api/config', {
      method: 'GET'
    });

    if (response.status === 200) {
      data.config = await response.json();
      console.log('config:', data.config);

    } else {
      showError('Unable to load config');
    }
  });
</script>

<svelte:head>
  <title>OVPN Template - TinyPanel</title>
</svelte:head>

<h1 class="text-xl mb-3">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 me-1 inline-block mb-0.5">
    <path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
  </svg>

  <span class="font-bold text-gray-800">OVPN template</span>
</h1>

<div class="mb-3 text-gray-600">Loaded from <span class="px-1.5 py-0.5 rounded bg-gray-200">ovpn.template</span> file.</div>

<div class="mb-5 p-3 rounded bg-gray-100 whitespace-pre">
  {data.config.ovpnTemplate}
</div>