<script lang="ts">
  import type { PageData } from "./$types";
  import { OpenVpnServiceStatus } from "$lib";
  import OpenVpnServiceStatusIndicator from "../../../components/OpenVpnServiceStatusIndicator.svelte";
  import { onMount } from "svelte";
  import { showError } from "$lib/notifications";

  export let data: PageData;

  let startDisabled = data.config.openvpnServiceStatus === OpenVpnServiceStatus.Running;
  let stopDisabled = data.config.openvpnServiceStatus === OpenVpnServiceStatus.Stopped;

  onMount(async () => {
    const response = await fetch('/api/config', {
      method: 'GET'
    });

    if (response.status === 200) {
      data.config = await response.json();

      startDisabled = data.config.openvpnServiceStatus === OpenVpnServiceStatus.Running;
      stopDisabled = data.config.openvpnServiceStatus === OpenVpnServiceStatus.Stopped;

      console.log('config:', data.config);

    } else {
      showError('Unable to load configuration');
    }
  });

  async function onStartService() {
    const response = await fetch('/api/service/start', { method: 'POST' });

    if (response.status === 200) {
      startDisabled = true;
      stopDisabled = false;

    } else {
      showError('Unable to start openvpn service');
    }
  }

  async function onStopService() {
    const response = await fetch('/api/service/stop', { method: 'POST' });

    if (response.status === 200) {
      startDisabled = false;
      stopDisabled = true;

    } else {
      showError('Unable to stop openvpn service');
    }
  }
</script>

<svelte:head>
  <title>Service - TinyPanel</title>
</svelte:head>

<h1 class="text-xl mb-5">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
       stroke="currentColor" class="w-5 h-5 me-1 inline-block mb-0.5">
    <path stroke-linecap="round" stroke-linejoin="round"
          d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
  </svg>

  <span class="font-bold text-gray-800">OpenVPN Service Management</span>
</h1>

<div class="mb-5">
  <OpenVpnServiceStatusIndicator status={data.config.openvpnServiceStatus}/>
</div>

<div>
  <button title="Start service" disabled={startDisabled} on:click={onStartService}
          class="btn btn-sm w-28 me-1">Start</button>
  <button title="Stop service" on:click={onStopService}
          disabled={stopDisabled} class="btn btn-sm bg-red-600 text-white w-28">Stop</button>
</div>

<hr class="mt-5 mb-5">

<h1 class="text-xl mb-3">Settings</h1>

<div class="text-gray-700 mb-4">
  Edit <span class="text-green-700">config.yml</span> and restart app to take effect.
</div>

<table class="table table-zebra lg:w-1/2">
  <thead>
    <tr>
      <td>PROPERTY</td>
      <td>VALUE</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Public host</td>
      <td>{data.config.openvpnConfig.publicHost}</td>
    </tr>
    <tr>
      <td>Public port</td>
      <td>{data.config.openvpnConfig.publicPort}</td>
    </tr>
    <tr>
      <td>Protocol</td>
      <td>{data.config.openvpnConfig.protocolType}</td>
    </tr>
    <tr>
      <td>Service name</td>
      <td>{data.config.openvpnConfig.serviceName}</td>
    </tr>
    <tr>
      <td>Easy-RSA path</td>
      <td>{data.config.openvpnConfig.easyRsaPath}</td>
    </tr>
    <tr>
      <td>TLS Auth Key Path</td>
      <td>{data.config.openvpnConfig.tlsAuthKeyPath}</td>
    </tr>
    <tr>
      <td>Status file path</td>
      <td>{data.config.openvpnConfig.statusFilePath}</td>
    </tr>
  </tbody>
</table>