<script lang="ts">
  import type { PageData } from "./$types";
  import { User, UserStatus } from "$lib";
  import { getUsersWithViewFilter, UsersViewFilter } from "./page";
  import { onMount } from "svelte";
  import { CreateUserRequest } from "$lib/user";
  import { showError, showInfo } from "$lib/notifications";

  export let data: PageData;

  let inProgress: boolean = true;

  let searchMask: string = '';

  let currentViewFilter: UsersViewFilter = UsersViewFilter.Enabled;

  let showUserAddForm: boolean = false;

  const activeFilterItemClass = 'text-green-600 cursor-pointer inline-block';
  const inactiveFilterItemClass = 'text-gray-500 cursor-pointer inline-block';

  let users: User[] = [];

  onMount(loadConfig);

  async function loadConfig() {
    inProgress = true;

    const response = await fetch('/api/config', {
      method: 'GET'
    });

    if (response.status === 200) {
      data.config = await response.json();
      console.log('config:', data.config);
      users = data.config.users;

    } else {
      showError('Unable to load configuration')
    }

    inProgress = false;
  }

  let newUserName: string = '';
  let newFullName: string = '';

  let isFormValid = false;

  function setViewFilter(filter: UsersViewFilter) {
    currentViewFilter = filter;
  }

  function onValidateForm() {
    isFormValid = newUserName.length > 0;
  }

  async function onCreateUser() {
    inProgress = true;

    if (newFullName === '') {
      newFullName = newUserName;
    }

    console.log('creating user:', newUserName);

    const request = new CreateUserRequest(newUserName, newFullName);

    const response = await fetch('/api/user', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(request)
    });

    const status = response.status;

    console.log('status:', status);

    if (status === 200) {
      inProgress = false;
      console.log('user created');

      showInfo('User created');

      await loadConfig();

    } else {
      inProgress = false;
      showError('User add error, check app logs for details');
    }
  }

  async function onImportUsers() {
    inProgress = true;

    console.log('importing users..');

    const response = await fetch('/api/user/import', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      }
    });

    const status = response.status;

    console.log('status:', status);

    if (status === 200) {
      showInfo('Import completed');
      inProgress = false;
      console.log('import completed');

      await loadConfig();

    } else {
      inProgress = false;
      showError('Import error, check logs for details');
    }
  }

  async function onToggleUserStatus(user: User) {
    if (user.status === UserStatus.Enabled) {

      if (confirm('User will be disabled. Continue?')) {
        inProgress = true;

        const response = await fetch(`/api/user/${user.name}/disable`, {
          method: 'POST'
        });

        if (response.status === 200) {
          await loadConfig();

        } else {
          showError('Couldn\'t disable user, check app logs for details');
        }
      }

    } else {
      if (confirm('User will be enabled. Continue?')) {
        inProgress = true;

        const response = await fetch(`/api/user/${user.name}/enable`, {
          method: 'POST'
        });

        if (response.status === 200) {
          await loadConfig();

        } else {
          showError('Couldn\'t enable user, check app logs for details');
        }
      }
    }
  }

  async function onDeleteUser(username: string) {
    if (confirm(`User '${username}' will be deleted. The operation is un-reversible. Continue?`)) {
      inProgress = true;

      console.log('deleting user', username);

      const response = await fetch(`/api/user/${username}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        }
      });

      const status = response.status;

      console.log('status:', status);

      if (status === 200) {
        await loadConfig();

      } else {
        inProgress = false;
        showError(`Unable to delete user '${username}', check logs for details`);
      }
    }
  }

  async function onRebuildOvpnConfigs() {
    inProgress = true;

    console.log('rebuilding ovpn configs..');

    const response = await fetch('/api/config/ovpn/rebuild', { method: 'POST' });

    const status = response.status;
    console.log('status:', status);

    if (status === 200) {
      showInfo('Rebuild complete');
      inProgress = false;

    } else {
      inProgress = false;
      showError('OVPN configurations rebuild error, check logs for details');
    }
  }
</script>

<svelte:head>
  <title>Users - TinyPanel</title>
</svelte:head>

<h1 class="text-xl font-bold mb-4">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
       stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block me-0.5">
    <path stroke-linecap="round" stroke-linejoin="round"
          d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
  </svg>

  User management
</h1>

<div class="mb-6">
  <button class="btn btn-sm me-1" disabled={showUserAddForm || inProgress}
          onclick="useraddForm.showModal()"
          title="Add user">Add</button>

  <button class="btn btn-sm me-1" disabled={showUserAddForm || inProgress}
          on:click={onRebuildOvpnConfigs}
          title="Rebuild OVPN-files for active users">Rebuild</button>

  <button class="btn btn-sm" disabled={showUserAddForm || inProgress}
          on:click={onImportUsers}
          title="Import existing users from OpenVPN registry">Import</button>
</div>

<dialog id="useraddForm" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">New user</h3>
    <div class="text-start">
      <form method="dialog">
        <div class="mb-3">
          <input type="text" bind:value={newUserName}
                 autocomplete="off" on:keyup={onValidateForm}
                 class="input input-sm input-bordered me-7"
                 placeholder="Username">
        </div>
        <div class="mb-4">
          <input type="text" bind:value={newFullName} placeholder="Full name"
                 autocomplete="off"
                 class="input input-sm input-bordered me-7">
        </div>

        <button class="btn btn-sm me-1" disabled={!isFormValid}
                on:click={onCreateUser}>Create</button>
        <button class="btn btn-sm">Close</button>
      </form>
    </div>
  </div>
</dialog>

<div class="mb-4 flex items-center">
  <input type="search" placeholder="Search users.." class="input input-sm input-bordered me-7" bind:value={searchMask}>

  <div class="inline-block text-sm">
    <span class="text-gray-600">SHOW:</span>
    <span role="button" on:click={(_) => setViewFilter(UsersViewFilter.Enabled)} title="Show users with 'enabled' status"
          class={currentViewFilter === UsersViewFilter.Enabled ? activeFilterItemClass : inactiveFilterItemClass}>ENABLED</span> <span class="text-gray-400 ms-1 me-1">|</span>
    <div role="button" on:click={(_) => setViewFilter(UsersViewFilter.Disabled)} title="Show users with 'disabled' status"
         class={currentViewFilter === UsersViewFilter.Disabled ? activeFilterItemClass : inactiveFilterItemClass}>DISABLED</div> <span class="text-gray-400 ms-1 me-1">|</span>
    <div role="button" on:click={(_) => setViewFilter(UsersViewFilter.All)} title="Show all users"
         class={currentViewFilter === UsersViewFilter.All ? activeFilterItemClass : inactiveFilterItemClass}>ALL</div>
  </div>
</div>

{#each getUsersWithViewFilter(users, currentViewFilter, searchMask) as user}
  <div class="border border-r border-b-gray-200 px-3 py-1.5 flex items-center justify-between columns-2xs lg:w-1/4 mb-1">
    <div class="text-md inline-block w-2/3 me-12">
      <span class={user.status === UserStatus.Disabled ? 'text-gray-400' : ''}>{user.name}</span>
    </div>

    <div class="inline-block text-right">
      {#if user.status === UserStatus.Enabled}
        <div class="inline-block cursor-pointer me-3 text-end" title="Download OVPN-file">
          <a href={`/api/files/ovpn/${user.name}.ovpn`}>
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16" height="16" fill="currentColor"
                 class="bi bi-arrow-down-square w-4 h-4" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
            </svg>
          </a>
        </div>
      {/if}

      <div class="inline-block text-end me-2.5">

        <div class="form-control">
          <label class="label cursor-pointer">
            <input type="checkbox" class="toggle toggle-xs" on:click={() => onToggleUserStatus(user)}
                   checked={user.status === UserStatus.Enabled}
                   title={user.status === UserStatus.Enabled ? 'Disable user' : 'Enable user' }
            />
          </label>
        </div>

      </div>

      <div role="button" class="inline-block text-end cursor-pointer" title="Remove user" on:click={() => onDeleteUser(user.name)}>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>
      </div>
    </div>
  </div>
{/each}